<div class="container">
	<form ng-submit="processForm()" class="form-horizontal">
		<input type="hidden" ng-model="competition.id">
		
		<h3 class="col-sm-12">Competition #{{competition.id}}</h3>

		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name: </label>
		    <div class="col-sm-6">
				<input required ng-model="competition.name" type="text" class="form-control" id="name" placeholder="Enter name">
		    </div>
		</div>
		<div class="form-group">
			<label for="sports" class="col-sm-2 control-label">Sport: </label> 
			<div class="col-sm-6">
				<select required id="sports" ng-model="competition.sport" ng-selected="sport" ng-options="sport for sport in sports">
					<option value="">Seleccione un deporte</option>
				</select>
		    </div>
		</div>
		<div class="form-group">
			<label for="countries" class="col-sm-2 control-label">Country: </label> 
			<div class="col-sm-6">
				<select required id="countries" ng-model="competition.country" ng-selected="country" ng-options="country for country in countries">
					<option value="">Seleccione un pais</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">Submit</button>
				<button type="button" class="btn btn-info" ng-click=addMatch()>Add match</button>
		    </div>
	    </div>
	</form>
	<div class="row">
		<h3><span ng-bind="result" class="label label-default"></span></h3>
	</div>
</div>