<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Detalle de competicion</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<h3>Competition Name</h3>
				<h5>{{ competition.name }}</h5>
			</div>
			<div class="col-md-4 text-center">
				<h3>Competition Country</h3>
				<h5>{{ competition.country }}</h5>
			</div>
			<div class="col-md-4 text-center">
				<h3>Competition Sport</h3>
				<h5>{{ competition.sport }}</h5>
			</div>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Match date</th>
					<th>Result</th>
					<th>Local</th>
					<th>Visitor</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="match in competition.matchs">
					<td>{{ match.id }}</td>
					<td>{{ match.date }}</td>
					<td>{{ match.result }}</td>
					<td>{{ match.local.name }}</td>
					<td>{{ match.visitor.name }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
