<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Competition name</th>
				<th>Country</th>
				<th>Sport</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="competition in competitions">
				<td>{{ competition.id }}</td>
				<td>{{ competition.name }}</td>
				<td>{{ competition.country }}</td>
				<td>{{ competition.sport }}</td>
				<td>
					<button ng-click="edit(competition)" type="button" class="btn btn-warning">Edit</button>
					<button ng-click="erase(competition)" type="button" class="btn btn-danger">Delete</button>
					<button ng-click="detail(competition)" type="button" class="btn btn-primary">Detail</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>